<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Custom Nominal</title>
</head>
<body>
	<h5 class="text-primary">Nominal Lain</h5>
	<br>
	Isi Nominal Lain*
	<br><br>
	<input type="text" class="form-control" id="AddCustomNom">
	<br>
	<span id="nominalKosong" class="text-danger">Nominal tidak boleh
		kosong</span>
	<span id="nominalLebih" class="text-danger">Nominal tidak boleh
		lebih besar dari saldo</span>
	<span id="nominalSudahAda" class="text-danger">Nominal sudah ada</span>
	<br>
	<div class="row justify-content-center">
		<div class="col-sm-3 justify-content-center">
			<input type="button" id="btnAdd2" class="btn btn-primary" value="Add">
		</div>
		<div class="col-sm-3 justify-content-center">
			<input type="button" id="btnCancel1" class="btn btn-light"
				value="Cancel">
		</div>
	</div>
</body>

<script type="text/javascript" src="walletWithdraw/addCustom.js"></script>
</html>