<h5 class="text-primary">Ubah Password</h5>
<br>
<div class="container">

	<div class="row">Masukan Password Baru</div>
	<br>
	<div class="row">
		Password*<br>
		<div class="row">
			<div class="col-sm-8">
				<input type="password" class="form-control" id="inPass3">
			</div>
			<div class="col-sm-1">
				<input type="image" src="Image/mata.png" class="showHide"
					id="showHide1">
			</div>
		</div>
	</div>
	<div class="row">
		Masukan Ulang Password*<br>
		<div class="row">
			<div class="col-sm-8">
				<input type="password" class="form-control" id="inPass4">
			</div>
			<div class="col-sm-1">
				<input type="image" src="Image/mata.png" class="showHide"
					id="showHide2">
			</div>
		</div>
	</div>
	<div class="row">
		<span id="tidakSama" class="text-danger">Password tidak sama</span>
	</div>
	<div class="row">
		<span id="passKosong" class="text-danger">Password tidak boleh
			kosong</span>
	</div>
	<div class="row">
		<span id="passSama" class="text-danger">Password tidak boleh
			sama dengan password sebelumnya</span>
	</div>
	<div class="row">
		<span id="passTidakBenar" class="text-danger">Password minimal
			8 karakter dan harus mengandung huruf kecil, huruf kapital, angka,
			dan special character</span>
	</div>
	<br>
	<div class="row justify-content-center">
		<div class="col-sm-3 justify-content-center">
			<input type="button" class="btn btn-primary" id="btnUbahPassword2"
				value="Simpan">
		</div>
		<div class="col-sm-3 justify-content-center">
			<input type="button" class="btn btn-light" id="btnCancelPass"
				value="Batal">
		</div>
	</div>


</div>

<script type="text/javascript" src="profil/inputPassBaru.js"></script>

