<h4 id="ubahDataHead" class="text-primary">
	Ubah E-mail
	</h6>
	<br>
	<div class="container">
		<div class="row">
			Masukan alamat e-mail yang baru<br>
			<br> E-mail*<br> <input type="email" id="inEmailBaru"
				class="form-control justify-content-center" required="required"><br>
			<span id="emailSama" class="text-danger">E-mail sudah
				terdaftar</span> <span id="emailKosong" class="text-danger">E-mail
				tidak boleh kosong</span> <span id="emailSalah" class="text-danger">Format
				e-mail salah</span>
		</div>
		<br>
		<div class="row justify-content-center">
			<div class="col-sm-3">
				<input type="button" class="btn btn-primary" id="btnConfirmEmail"
					value="Simpan">
			</div>
			<div class="col-sm-3">
				<input type="button" class="btn btn-light" id="btnCancelEmail"
					value="Batal">
			</div>
		</div>
	</div>

	<script type="text/javascript" src="profil/ubahEmail.js"></script>