<h1 class="text-primary">Tambah</h1>

<table>
	<thead>
	<tr>
			<td>Nominal*</td>
		</tr>
		<tr>
			<td><input id="inNominal" class="form-control" type="text" required="required" size=200%></td>
		</tr>
		<tr>
			<td></td>
			<td><span id="kosong" class="text-danger">Nominal tidak
					boleh kosong</span></td>
		</tr>
	</thead>
</table>
<br>
<div class="row justify-content-center">
	<div class="col-sm-3">
		<input type="button" class="btn btn-primary btnAdd2" value="Add">
	</div>
	<div class="col-sm-3">
		<input type="button" class="btn btn-warning btnCancel" value="Cancel">
	</div>
</div>

<!--  script type="text/javascript" src="jquery-3.6.0.min.js"></script-->
<script type="text/javascript" src="nominalwallet/addNominal.js"></script>